{% load static %}
<link rel="stylesheet" href="{% static 'css/elements.css' %}"/>

<div class="container-fluid page-styling site-header-before">
  <div class="row">
    <div class="link-list-container">
      <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
        <li>
          <i class="bi bi-geo-alt"></i>
          <p class="links_list-value">
            <a href="https://maps.app.goo.gl/44oL6zEBYn1wW4p2A"
              target="_blank" rel="nofollow">Asuncion, Paraguay</a>
          </p>
        </li>
        <li>
          <i class="bi bi-envelope-at"></i>
          <p class="links_list-value">
            <a href="mailto:enmadofenyxz@gmail.com">leyvagiancarlosgonzalez@gmail.com</a>
          </p>
        </li>
        <li>
          <i class="bi bi-telephone"></i>
          <p class="links_list-value">
            <a href="tel:9176728663">+1 917-672-8663</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
